<br>
<br>
<div class="table">
  <button class="addButton" (click)="addStudent()">Dodaj studenta</button>
  <div>
    <mat-paginator [pageSizeOptions]="[15, 30]" hidePageSize showFirstLastButtons></mat-paginator>
  </div>
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- Position Column -->
    <ng-container matColumnDef="Id">
      <th mat-header-cell *matHeaderCellDef> No.</th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="Imię">
      <th mat-header-cell *matHeaderCellDef> Imię</th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="Nazwisko">
      <th mat-header-cell *matHeaderCellDef> Nazwisko</th>
      <td mat-cell *matCellDef="let element"> {{element.surname}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="Nr indeksu">
      <th mat-header-cell *matHeaderCellDef> Nr indeksu</th>
      <td mat-cell *matCellDef="let element"> {{element.index}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="Nr telefonu">
      <th mat-header-cell *matHeaderCellDef> Nr telefonu</th>
      <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
    </ng-container>

    <ng-container matColumnDef="Ulica">
      <th mat-header-cell *matHeaderCellDef> Ulica</th>
      <td mat-cell *matCellDef="let element"> {{element.city}} </td>
    </ng-container>
    <ng-container matColumnDef="Nr domu">
      <th mat-header-cell *matHeaderCellDef> Nr domu</th>
      <td mat-cell *matCellDef="let element"> {{element.numberOfFlat}} </td>
    </ng-container>

    <ng-container matColumnDef="Kod pocztowy">
      <th mat-header-cell *matHeaderCellDef> Kod pocztowy</th>
      <td mat-cell *matCellDef="let element"> {{element.postalCode}} </td>
    </ng-container>

    <ng-container matColumnDef="Miasto">
      <th mat-header-cell *matHeaderCellDef> Miasto</th>
      <td mat-cell *matCellDef="let element"> {{element.town}} </td>
    </ng-container>

    <ng-container matColumnDef="Edytuj">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <button class="editButton" (click)="edit(row.id)">Edytuj</button>
      </td>
    </ng-container>

    <ng-container matColumnDef="Usuń">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <button class="deleteButton" (click)="delete(row.id)">Usuń</button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
</div>

